/* ==UserStyle==
@name           北科大 - 校園入口 - 登入頁面
@namespace      nportal.ntut.edu.tw/index.do
@version        1.0.1
@author         Kevin Lee
==/UserStyle== */

@-moz-document url-prefix("https://nportal.ntut.edu.tw/index.do") {
    #divLoginPageBulletin,
    .header,
    #sliderShow,
    #wrap table,
    .copyright {
        display: none;
    }

    ::selection {
        background: #ff953ed0; /* Background color of the selected text */
        color: #000; /* Color of the selected text */
    }
    
    #wrap {
        display: flex;
        background: none;
        margin: 0;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        justify-content: center;
        /* Center horizontally */
        align-items: center;
        /* Center vertically */
    }
    
    #authImage {
        border-radius: 6px;
        box-shadow: 0.5px 0.5px 10px rgba(114, 114, 114, 0.288);
    }
    
    #eyes {
        opacity: 0;
    }

    .boxContent {
        display: block;
        margin: 0;
        border-radius: 20px;
        background-color: rgb(255, 255, 255);
        padding: 30px;
        padding-bottom: 90px;
        backdrop-filter: blur(4px);
        animation: move-shadow 3s infinite running alternate-reverse;
    }
    
    @keyframes move-shadow {
        0% {
            box-shadow: 4px 0 15px rgba(255, 255, 255, 0.589);
        }
        25% {
            box-shadow: -4px 0 15px rgba(255, 255, 255, 0.589);
        }
        50% {
            box-shadow: 4px 4px 15px rgba(255, 255, 255, 0.589);
        }
        75% {
            box-shadow: 0 -4px 15px rgba(255, 255, 255, 0.589);
        }
        100% {
            box-shadow: -4px 4px 15px rgba(255, 255, 255, 0.589);
        }
    }
    
    @keyframes blink-shadow {
        0% {
            box-shadow: 5px 5px 10px rgba(170, 170, 170, 0.743);
        }
        100% {
            box-shadow: 5px 5px 10px rgb(255, 255, 255);
        }
    }
    
    .boxContent > img {
        display: none;
    }
    
    .boxContent::before {
        content: "Student Portal";
        font-size: 24px;
        font-weight: bold;
    }
    
    .tundra {
        margin: 0;
        padding: 0;
        background-image: url(https://raw.githubusercontent.com/kevinlee-06/styles/2f2b5e1b5a37921eb087700530dd6a7bb74e2f32/nportal-login/assets/wallpaper.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    .co {
        font-weight: bold;
        margin: 1em;
        display: flex;
        flex-direction: column;
        height: 50px;
    }

    .co > div {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    
    .titleEng, .title {
        font-size: 12px;
        color: black;
    }

    .l_icon01 {
        width: 100%;
        background-color: #863b13;
        transition-delay: 200ms;
        transition-duration: 300ms;
        animation: blink-shadow 600ms infinite alternate;
    }
    
    .l_icon01:hover {
        background-color: #520c0c;
        transition-duration: 300ms;
    }
    
    .loginBtn {
        margin: 25px 12px;
    }
    
    .authcode a:nth-of-type(2) img {
        display: none;
    }

    .title{
        margin-bottom: 3px;
    }
    
    .authcode {
        margin-bottom: 20px;
    }


    input[type="text"],
    input[type="password"] {
        width: 100%;
        height: 2rem;
        box-shadow: 0.5px 0.5px 10px rgba(218, 218, 218, 0.288);
        font-size: 1rem;
        padding: 0.5rem;
        transition-duration: 800ms;
        border-radius: 0.5em;
        outline: none;
    }
    input {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    input:focus {
        transition-duration: 300ms;
        box-shadow: 4px 4px 10px #ff590048;
        border-color: #ff6c2dc9;
        border-width: 2px;
    }

    input::selection {
        color: white;
        background: rgb(31, 27, 50);
    }

    html {
        background-image: linear-gradient(#00001f, #131b35, #000021,#040422, #4d1d03, #230202, #481800, #150000);
    }
}
    